doctype
html

  head
    link(rel="stylesheet" href="/main.css")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js")
    script hljs.initHighlightingOnLoad();

  body

    div#nav
      a(href='/') HOME

    content
      != yield
