body
  font-family: "Helvetica"
  padding: 15px 0 150px 50px
  margin: 0
  background: #f4f4f7
  color: #444
  line-height: 1.5em
  text-align: left
  width: 53%
  max-width: 800px
  min-width: 350px

h1
  font-size: 2.3em
  border-bottom: #CCC solid 1px
  padding: 20px 0

h3
  font-weight: 300

a
  color: #542437
  text-decoration: none
  &:hover
    color: #C02942
    text-decoration: underline
  &:active
    color: #D95B43

code
  font-family: "Ubuntu Mono" Monospace
  border: #CCC solid 1px
  padding: 1px 2px 1px 2px

pre > code
  display: block
  border: #CCC solid 1px
  padding: 15px

#nav
  -moz-transform: rotate(-90deg)
  -webkit-transform: rotate(-90deg)
  position: absolute
  padding: 50px 0 50px 0
  top: 0
  left: 0
